In [1]:
#set declaration
myset={"A","B","C"}
print(myset)

{'B', 'A', 'C'}

In [2]:
#Set items are unordered, unchangeable, and do not allow duplicate values.
#set can be combined any data type
set1 = {"abc", 34, True, 40, "male"}
print(set1)

{True, 34, 'abc', 40, 'male'}

In [5]:
#access set items through loop
thisset = {"apple", "banana", "cherry"}

for x in thisset:
   print(x)

banana
cherry
apple

In [6]:
#add set elements/ add item to the set
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'banana', 'cherry', 'orange', 'apple'}

In [9]:
#to add to set
#it van be added with  any iterable object like(tuple, list, dictionary)
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'papaya', 'banana', 'apple', 'pineapple', 'mango', 'cherry'}

In [11]:
#you can remove set items by using remove() method or function
# it can be done also with discard(), pop()
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")

print(thisset)

{'cherry', 'apple'}

In [14]:
# joining two sets using union()
# it wor like add / here update() also do the same
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'c', 'a'}
{1, 2, 3, 'b', 'c', 'a'}

In [17]:
#if you want to keep only duplicates element between two sets
# intersection_update() and intersection()  method can do this
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

In [18]:
#symmetric_difference_update() and symmetric_difference() method can delete the duplicates element from two sets
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'banana', 'cherry', 'microsoft', 'google'}

In [19]:
#Note: The values True and 1 are considered the same value in sets, and are treated as duplicates:
x = {"apple", "banana", "cherry", True}
y = {"google", 1, "apple", 2}

z = x.symmetric_difference(y)

print(z)

{'banana', 2, 'cherry', 'google'}

In [ ]:
"""
Python has a set of built-in methods that you can use on sets.

Method	Description


add()	Adds an element to the set
clear()	Removes all the elements from the set
copy()	Returns a copy of the set
difference()	Returns a set containing the difference between two or more sets
difference_update()	Removes the items in this set that are also included in another, specified set
discard()	Remove the specified item
intersection()	Returns a set, that is the intersection of two other sets
intersection_update()	Removes the items in this set that are not present in other, specified set(s)
isdisjoint()	Returns whether two sets have a intersection or not
issubset()	Returns whether another set contains this set or not
issuperset()	Returns whether this set contains another set or not
pop()	Removes an element from the set
remove()	Removes the specified element
symmetric_difference()	Returns a set with the symmetric differences of two sets
symmetric_difference_update()	inserts the symmetric differences from this set and another
union()	Return a set containing the union of sets
update()	Update the set with the union of this set and others
"""